<div class="container">
  <center><h1>АВТОРЫ</h1></center>
  <center><a href="http://vk.com/melnikovtima"><img src=<%=asset_path 'dark_side.jpg'%> ></a>
  <a href="http://vk.com/id78955227"><img src=<%=asset_path 'azaza.jpg'%> ></a></center>
  <br>
  <center><a href="http://vk.com/deck34"><img src=<%=asset_path 'getmoney.jpg'%> ></a></center>
  <br>
  <center><a href="http://vk.com/id268027109"><img src=<%=asset_path 'princess.jpg'%> ></a>
  <a href="http://vk.com/id212737821"><img src=<%=asset_path 'hobbits.jpg'%> ></a></center>
</div>